<section class="login-form__container">

    <form class="form" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
        <h1 class="form__title">Влизане</h1>

        <div class="form__username">
            <label for="username">Потребителско име</label>
            <input type="text" formControlName="username" name="username" class="field"
                [class.field-error]="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].invalid">
        </div>

        <ng-container
            *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].invalid">
            <p *ngIf="loginFormGroup.controls['username'].errors?.['required']" class="error-msg">
                Въведи потребителско име!
            </p>
            <p *ngIf="loginFormGroup.controls['username'].errors?.['minlength'] || loginFormGroup.controls['username'].errors?.['maxlength']" class="error-msg">
                Минимално 3 символа, максимално 20!
            </p>

        </ng-container>

        <div class="form__password">
            <label for="password">Парола</label>
            <input type="password" formControlName="password" name="password" class="field"
                [class.field-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
        </div>

        <ng-container
            *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
            <p *ngIf="loginFormGroup.controls['password'].errors?.['required']" class="error-msg">
                Въведи парола!
            </p>
            <p *ngIf="loginFormGroup.controls['password'].errors?.['minlength'] || loginFormGroup.controls['password'].errors?.['maxlength']" class="error-msg">
                Минимално 3 символа, максимално 20!
            </p>

        </ng-container>


        <div class="form__buttons">
            <button type="button" class="btn-negative btn" (click)="handleGoBack()">Отказ</button>
            <button [disabled]="!loginFormGroup.valid" type="submit" class="btn-success btn">Влизане</button>
        </div>
    </form>
</section>