<section class="details__container" *ngIf="event">
    <div class="event__info">
        <h3 class="event__title">Футбол - {{event.maxPeople}} човека</h3>
        <p class="event__date"><span>Дата:</span> {{event.day | date: 'dd.MM.yyyy'}} г.</p>
        <p class="event__time"><span>Час:</span> {{event.start}}-{{event.end}} ч.</p>
        <p class="event__venue"><span>Терен:</span> {{event.venue}}</p>
        <p class="event__rules"><span>Допълнителна информация:</span> {{event.rules}}</p>
        <div class="event__buttons">
            <button type="button" class="btn-negative btn" (click)="handleGoBack()">Обратно</button>
            <button [disabled]="!!players && players.length >= event.maxPeople" type="button" class="btn-success btn" (click)="handleNewPlayer()">Запиши се</button>
        </div>
    </div>
    <div class="event__players">
        <ul class="players__list" *ngIf="!!players">
            <h3 class="players__title">Футболисти</h3>
            <ng-container *ngFor="let player of players">
                <li class="player">{{player.name}}</li>
            </ng-container>
        </ul>
        <p *ngIf="!players">Няма записани играчи.</p>
    </div>
</section>

<div class="details__container" *ngIf="!event">
    Зареждане...
</div>