<header class="header">
    <a [routerLink]="['']">
        <img class="header__logo" src="../../../assets/low-res-logo.png" alt="PlusOne Logo" />
    </a>

    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__itemlink" [routerLink]="['/events/all']">Събития</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" [routerLink]="['/new-event']">Създай събитие</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Групи</a>
            </li>
            <ng-container *ngIf="(isLoggedIn$ | async)">
                <li class="nav__item">
                    <a class="nav__itemlink" [routerLink]="['/auth/profile']">Профил</a>
                </li>
                <li class="nav__item">
                    <a class="nav__itemlink" href="javascript:void(0);" (click)="handleLogout()">Изход</a>
                </li>
            </ng-container>
            <ng-container *ngIf="!(isLoggedIn$ | async)">
                <li class="nav__item">
                    <a class="nav__itemlink" [routerLink]="['/auth/login']">Вход</a>
                </li>
                <li class="nav__item">
                    <a class="nav__itemlink" [routerLink]="['/auth/register']">Регистриране</a>
                </li>
            </ng-container>
        </ul>
    </nav>
</header>