<header class="header">
    <a [routerLink]="['']">
        <img class="header__logo" src="../../../assets/low-res-logo.png" alt="PlusOne Logo" />
    </a>

    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Събития</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Създай събитие</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Групи</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Профил</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Изход</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Вход</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="#">Регистриране</a>
            </li>
        </ul>
    </nav>
</header>