.events-general {
    width: 100%;
    padding: 3rem 6rem;
    text-align: center;
    letter-spacing: 2px;


    position: relative;
    top: 3rem;
    z-index: 2;
}

.events-general .events-general__title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem;
}

/* app-event-layout {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
} */

